.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #ec3437;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  position: relative; /* Added position to contain the badge */
}

.button:hover,
.button:active {
  background-color: #fc8688;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
  position: relative; /* Changed position to relative */
}

.badge {
  background-color: #ffffff;
  color: #ec3437;
  padding: 0.2rem 0.6rem; /* Adjusted padding for a smaller badge */
  border-radius: 50%; /* Changed to create a circular badge */
  margin-left: 0.5rem; /* Reduced margin */
  font-weight: bold;
  position: absolute;
  top: -10px; /* Changed to position the badge better */
  right: -10px; /* Changed to position the badge better */
  font-size: 0.8rem; /* Adjusted font size */
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
