/* Updated CSS styles for the search bar */
/* .form__control {
  position: absolute;
  top: 120px;
  left: 25%;
  right: 50%;
} */

.form__control > input {
  box-sizing: border-box;
  /* width: 500px; */
  height: 50px;
  padding-left: 40px; /* Increased padding to make space for the icon */
  border: 1px solid gray;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form__control > input::placeholder {
  font-size: 16px;
  font-family: Roboto, Arial;
  color: #888; /* Placeholder color */
}

/* Updated styles for active/focused state */
.form__control > input:focus {
  border-color: #f9a2a4;
  box-shadow: 0 0 5px #ec3437(0, 123, 255, 0.5);
}

.form__control > input:focus::placeholder {
  color: #bbb; /* Placeholder color when input is focused */
}
